@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'air-regular';
  src: url('../../fonts/AirbnbCereal-Book.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'air-semibold';
  src: url('../../fonts/AirbnbCereal-Medium.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'air-light';
  src: url('../../fonts/AirbnbCereal-Light.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'air-bold';
  src: url('../../fonts/AirbnbCereal-Bold.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'air-extrabold';
  src: url('../../fonts/AirbnbCereal-ExtraBold.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'air-black';
  src: url('../../fonts/AirbnbCereal-Black.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
