* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background: $color-bg;
  color: $color-white;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 2.4rem;
}
